html,
body{
	background: #212120;
	color: #1e1e1e;
	font-size: 14px;
	font-family: 'Open Sans', 'Arial', sans-serif;
	height: 100%;
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
	overflow: hidden;
}


.menu-wrapper {
    width: 320px;
    height: fit-content;
    background-color: #fff;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    /* padding: 10px 0; */
    border-radius: 10px;
}

.menu-item {
    text-align: center;
    width: 80%;
    padding: 10px;
    border: 1px solid #333;
    margin: 20px auto;
    border-radius: 5px;
    user-select: none;
    cursor: pointer;
}

.page {
    position: absolute;
    width: 100vw;
    height: 100vh;
}

.page-loading {
    position: absolute;
    top: 0;
}

.game {
    display: flex;
    /* justify-content: center; */
    /* align-items: center; */
    height: 100%;
    /* width: 500px; */
    /* border-radius: 50px !important; */
    /* overflow: hidden; */
    /* position: absolute; */
    /* top: 0; */
    /* left: 0; */
    /* right: 0; */
    /* bottom: 0; */
    /* margin: auto; */
    /* background: #212120; */
}

.page-game {
    height: 100%;
}

.game canvas {
    /* height: 100%; */
    display: block !important;
    margin: auto !important;
    border-radius: 50px !important;
    overflow: hidden;
    background: #996b4a;
}